body {
  -webkit-animation: background 10s linear infinite;
  animation: background 10s linear infinite;  
}


@-webkit-keyframes background {
  0% { background-color: #f99; }
  33% { background-color: #9f9; }  
  67% { background-color: #99f; }
  100% { background-color: #f99; }
}

@keyframes background {
  0% { background-color: #f99; }
  33% { background-color: #9f9; }  
  67% { background-color: #99f; }
  100% { background-color: #f99; }
}

.box {
  position: relative;
  display: inline-block;
  background-color: aqua;
  width: 50px;
  height: 50px;
  border: black solid 2px;
  cursor: pointer;
}

.box p {
  font-size: 1.5rem;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
  display: inline-block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.box div {
  display: inline-block;
  width: 100%;
  position: absolute;
  top: 50%;
  height: 0;
  transform: rotate(45deg);
}

.board-box {
  display: inline-block;
  background-color: aqua;
  width: 50px;
  height: 50px;
  border: black solid 2px;
  margin: 0;
}

.checked {
  border: solid black 1px;
  z-index: 2;
}

.unchecked {
  width: 0;
  border: none;
}